<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:spanth="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>KyrieWang论坛</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->

    <link rel="stylesheet" href="css/bootstrap.min.css" >

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" >
    <link rel="stylesheet" href="css/kkbbs.css" >

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap-paginator.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if(closable == "true"){
            window.close()
            window.localStorage.removeItem("closable")
        }
    }
</script>

<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-10 col-sm-12 col-xs-12 ">
            <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span>  发现</h3>
            <hr>
            <div class="media" th:each="question : ${questions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" th:src="${question.user.avatar_url}" alt="">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span th:text="${question.description}"></span>
                    <br />
                    <span class="text-desc"><span th:text="${question.comment_count}"></span> 个评论 • <span th:text="${question.view_count}"></span> 次浏览 • <span th:text="${question.gmt_modified}"></span> 天前</span>
                </div>
            </div>
            <div id="paginator" style="text-align: center"> <ul id="example"></ul> </div>
        </div>
            <script type='text/javascript'>
                var options = {
                    currentPage: [[${currentpage}]],
                    totalPages: [[${totalpages}]],
                    pageUrl: function(type, page, current){
                        return "./index.html?page="+page;

                    }
                }

                $('#example').bootstrapPaginator(options);
            </script>

        <!--侧边信息栏-->
        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12 ">
                <h3>热门话题</h3>
                • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
                • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
                • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
            <!--站长信息-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>站长微信</h4>
                <img class="img-thumbnail question-wechat" src="/images/wechat.jpg">
            </div>
        </div>
    </div>
</div>

<div th:insert="~{footer :: foot}"></div>

</body>
</html>