<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display --->
            <div class="navba r-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">KryieWang论坛</span>
                </button>
                <a class="navbar-brand" href="/">KyrieWang论坛</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索话题">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="text" th:if="${session.user!=null}">
                        <a href="/publish">发布问题</a>
                    </li>
                    <li class="text" th:if="${session.user!=null}">
                        <a href="/profile/replies">消息<span class="badge" th:text="${session.unreadCount}"></span>
                        </a>
                    </li>
                    <li class="dropdown" th:if="${session.user!=null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" >
                            <span th:text="${session.user.getName()}"></span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/question">我的帖子</a></li>
                            <li><a href="#">个人资料</a></li>
                            <li><a href="/logout">退出</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.user==null}">
                        <a href="https://github.com/login/oauth/authorize?client_id=6161e3b8ad33e85e5cce&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

</body>
</html>